/spaghetti/assets/mesh
!/spaghetti/assets/readme_resources/
!/spaghetti/assets/ui_resources/
!/spaghetti/assets/splits/
!/spaghetti/assets/mesh/
*.vtk
.idea/
__pycache__/
**_ig_**
dist
spaghetti.egg-info
assets/checkpoints
